p {  font-family: Georgia; font-size: 12; line-height: 150%; text-align: justify}
h1 { font-family: Georgia; font-size: 18; font-weight: bold}
h2 { font-family: Georgia; font-size: 16; font-weight: normal}
h6 { font-family: Georgia; font-size: 10; font-weight: normal; color: white}